/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

/*variables*/
:root {
    --main-color: #95969a;
    --body-color: #18375d;
    --container-color: #1A4F34;
    --white-color: #fff;
    --black: #000;
}
* {
    width: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
/*body*/
body {
    color: var(--white-color);
    background-color: var(--black);
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
p, h2, h3, a{
    font-family: 'Homenaje', sans-serif;
}
/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.emi {
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Homenaje', sans-serif;
    color: var(--white-color);
}
/*nav*/
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 150vh;
    margin:auto; 
    width: 100%;
}
.nav-list {
    display: flex;
    align-items: center;
    column-gap: 7rem;
}
.link-nav {
    font-size: 1.7rem;
    padding: 10px 10px;
    color: var(--white-color);
    font-family: 'Homenaje', sans-serif;
}
.link-nav:hover {
    color: var(--white-color);
    background-color: var(--container-color);
    transition: 0.3s all linear;
}
/*menu-icon*/
.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
.menu-icon div {
    display: block;
    background-color: var(--white-color);
    height: 2px;
    width: 24px;
    transform: 0.3s;
}
.move .linea1 {
    transform: rotate(-45deg) translate(-5px,5px);
}
.move .linea2 {
    opacity: 0;
}
.move .linea3 {
    transform: rotate(45deg) translate(-5px,-5px);
}
/*---------subtitulos-----------*/
.hsub{
    font-size: 5rem;
    font-family: 'Qwitcher Grypen', sans-serif;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 2rem;
}
/*home*/
#home{
    height: 100vh;
    min-height: 600px;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TextAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.TextAbout h1 {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 0.5rem;
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: 10vh;
    color: var(--container-color);
}
.TextAbout h3 {
    font-family: 'Homenaje', sans-serif;
    font-size: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--body-color);
    margin-bottom: 1rem;
    margin-top: 1rem;
}
/*my face*/
.fotoFace {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #1A4F34;
    overflow: hidden;
    margin-bottom: 2rem;
}
.fotoFace{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*about me*/
#about{
    height: 100vh;
    min-height: 600px;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutConteiner {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AboutConteiner p {
    font-family: 'Homenaje', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
/*BOTON DESCARGAR CV*/

/*proyectos*/
.projects-conteiner{
    display: grid;
    grid-template-columns: 1, 1;
    gap:2rem;
}
.caja-proyecto{
    position:relative;
    width: 320px;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
}
.caja-proyecto:hover .overlay-conteiner{
    top:0;
    transition: 0.3s all ease 0s;
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay-conteiner{
    position:absolute;
    top: -100;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(12, 14, 34, 0.7);
}
.overlay-conteiner h2{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.overlay-conteiner a{
    font-size: 24px;
    padding: 10px;
    background: var(--body-color);
    color: var(--main-color);
    border-radius: 50px;
}
.overlay-conteiner a:hover{
    background: var(--container-color);
    transition:0.3s all linear;
    color:var(--main-color);
}
/*Service/skill*/
#service{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*Formulario Contacto*/
#contact{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Homenaje', sans-serif;
}
.form input,
textarea {
    border-radius: 5px;
}
/*responsive*/
/*Icons Contact*/
.icon_contact .bx {
    font-size: 1.3rem;
    padding: 10px ;
    border-radius: 50px;
    color: var(--white-color);
    background-color: var(--body-color);
}
.icon_contact .bx:hover{
    background:var(--container-color) ;
    transition: 0.3s all linear;
}
.thanks{
    font-family: 'Homenaje', sans-serif;
    text-align: center;
    
}