/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

/*variables*/
:root {
    --main-color: #95969a;
    --body-color: #18375d;
    --container-color: #1A4F34;
    --white-color: #fff;
    --black: #000;
}

* {
    width: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/*body*/
body {
    color: var(--white-color);
    background-color: var(--black);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.emi {
    font-family: 'Edition', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Homenaje', sans-serif;
    color: var(--white-color);
}

/*nav*/
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    
    max-width: 960px;
    margin:auto; 
    width: 100%;
}


.nav-list {
    display: flex;
    align-items: center;
    column-gap: 7rem;
}

.link-nav {
    font-size: 1.7rem;
    padding: 10px 10px;
    color: var(--white-color);
    font-family: 'Homenaje', sans-serif;
}

.link-nav:hover {
    color: var(--white-color);
    background-color: var(--container-color);
    transition: 0.3s all linear;
}

/*menu-icon*/
.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: flex;
    background-color: var(--white-color);
    height: 2px;
    width: 24px;
    transform: 0.3s;
}

.move .lineaA {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .lineaB {
    opacity: 0;
}

.move .lineaC {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*img*/
img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

/*about me*/
#about{
    height: 100vh;
}
/*my face*/
.AboutConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}

.fotoFace {
    width: 50vh;
    height: 50vh;
    margin-left: 10px;
}

.TextAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TextAbout h1 {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 10vh;
    text-align: center;
}

.TextAbout h3 {
    font-family: 'Homenaje', sans-serif;
    font-size: 3vh;
}

.TextAbout p {
    font-family: 'Homenaje', sans-serif;
    font-size: 2.5vh;
}
/*projectos*/

#proyect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Homenaje', sans-serif;
    width: 100%;
    height: 100vh;
}
#proyect_id {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

#proyect_id li {
    width: 65vh;
    height: 50vh;
}

.difundiendo_colegios {
    background-image: url("../src/DifundiendoColegios.png");
}

.andrea_Shoes {
    background-image: url("../src/compu.png");
}
/*Service/skill*/
#service{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*Formulario Contacto*/
#contact{
    height: 100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Homenaje', sans-serif;
}

.form input,
textarea {
    border-radius: 5px;
}

/*responsive*/
/*Icons Contact*/
.icon_contact {
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
}
.thanks{
    font-family: 'Homenaje', sans-serif;
}
.icons {
    width: 70;
    height: 70;
    background-color:aquamarine;
}